/* =================== prototype_layout.css =================================
 * This is the equivalent of your_style.css for the prototype page.
 * 
 * This file controls page layout with minimal "visual styling". 
 * 
 * The file 'prototype_decorate.css' controls the "visual styling" rules.
 * It is designed this way so that the decoration rules can be replaced
 * independent of the page layout rules. 
 * 
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/** external-production */
.fixed-header #header {
    border-bottom: 2px solid #999;
    border-bottom: 1px solid rgba(0,0,0,.3);
    box-shadow: -11px 12px 23px rgba(0,0,0,.1);
}

/** external-production */
#header {
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));
    background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
    background-repeat: repeat-x;
}

/** external-production */
#logo {
    margin-top: 13px;
    margin-left: 9px;
}

/** external-production */
#logo img {
    width: 110px;
    height: auto;
    padding-left: 3px;
}

/** external-production */
#header>div {
    height: 49px;
}

/** external-production */
.btn-header.pull-right {
    margin-left: 6px;
}

/** external-production */
.btn-header>:first-child>a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default!important;
    font-weight: 700;
    padding: 2px;
    text-align: center;
    text-decoration: none!important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #bfbfbf;
    color: #6D6A69;
    font-size: 17px;
    margin: 10px 0 0;
}

#main {
    /** empty */
}

/* These are menu rules which have not yet been split between layout and decorate */

.menu-on-top aside#left-panel nav>ul>li {
    position: relative;
    height: auto!important;
    padding: 0!important;
    display: inline-block;
    float: left;
    border-right: 1px solid #222;
    border-left: 1px solid #4E4E4E;
    overflow: visible;
}

.menu-on-top aside#left-panel nav>ul>li:hover {
    background: #fff;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#fff),color-stop(1,#cfcfcf));
    background: -ms-linear-gradient(bottom,#fff,#cfcfcf);
    background: -moz-linear-gradient(center bottom,#fff 0,#cfcfcf 100%);
    background: -o-linear-gradient(#cfcfcf,#fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#ffffff', GradientType=0);
}

.menu-on-top aside#left-panel nav>ul>li>a {
    display: inline-block;
    height: 68px;
    text-shadow: none!important;
    font-size: 13px;
    text-decoration: none;
    line-height: 22px;
    padding: 10px 9px!important;
}

.menu-on-top aside#left-panel nav>ul>li:hover>a {
    color: #333!important;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    padding-left: 8px!important;
    padding-right: 8px!important;
}
